<div class="w-full">
  <h1 class="font-bold underline text-2xl">Weather Station</h1>
  <div data-controller="places" data-action="google-maps-loaded@window->places#initGoogle"
    >
    <%= form_with(model: @place, url: root_path, id: "weather_form", local: true, class:"my-8", data: { "places-target": "weather_form" }
) do |form| %>
      <div>
        <%= form.text_field :full_address, data: { "places-target": "full_address" }, class: "w-full", id: "full_address", disabled: "disabled" %>
        <%= form.hidden_field :latitude, data: { "places-target": "latitude" } %>
        <%= form.hidden_field :longitude, data: { "places-target": "longitude" } %>
        <%= form.hidden_field :city, data: { "places-target": "city" } %>
        <%= form.hidden_field :state, data: { "places-target": "state" } %>
        <%= form.hidden_field :zipcode, data: { "places-target": "zipcode" } %>
        <%= form.hidden_field :country, data: { "places-target": "country" } %>
      </div>
    <% end %>
    <div>
      <div data-places-target="address_error" hidden="hidden" id="address_error">
        No weather data available for this location. Please try another location.
      </div>
      <div data-places-target="weather_data_pending" hidden="hidden">
        Retrieving weather data...
      </div>
      <div data-places-target="weather_data_error" <%= 'hidden=hidden' unless @place.errors.any? %> id="weather_data_error">
        Unable to retrieve weather data from OpenWeather. Please try again later.
      </div>
      <div data-places-target="weather_data_present" id="weather_data_present" <%= 'hidden=hidden' unless @weather_data.valid? %> >
        <div id="weather_title" class="w-full my-4">
          <span><%= @place.full_address %> at <%= @weather_data.downloaded_at_as_time_of_day(@time_zone) %></span>
          <span id="cached_label"><%= "(Cached)" if @weather_data.retrieved_from_cache? %></span>
        </div>
        <table class="table-auto w-2/3">
          <tbody class="border-b-2 border-slate-600 divide-y divide-slate-200" id="today" class="section mb-10">
            <tr class="today_current_temp">
              <td class="px-5 w-2/3 day_label">
                <span class="label">Current Temp</span>
              </td>
              <td class="px-5 w-1/3 day_high_low">
                <span class="value font-bold text-xl"><%= @weather_data.current_temp %></span>
              </td>
            </tr>
            <tr class="my-20 today_high_low">
              <td class="px-5 day_label w-2/3">
                Today's High/Low
              </td>
              <td class="px-5 w-1/3 day_high_low">
                <span class="value font-bold text-xl"><%= @weather_data.current_day&.high(@temp_unit) %></span>/<span class="value"><%= @weather_data.current_day&.low(@temp_unit) %></span>
              </td>
            </tr>
          </tbody>
          <tbody class="border-b-2 border-slate-600 divide-y divide-slate-200" id="forecast" class="section my-10" >
            <% 7.times do |i| %>
              <tr id="day-<%= i + 1 %>">
                <td class="px-5 day_label">
                  <span class="label"><%= @weather_data.forecast_days.to_a[i]&.day_label %></span>
                </td>
                <td class="px-5 day_high_low">
                  <span class="value font-bold text-xl"><%= @weather_data.forecast_days.to_a[i]&.high(@temp_unit) %></span>/<span class="value"><%= @weather_data.forecast_days.to_a[i]&.low(@temp_unit) %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
