<h1>Weather Station</h1>
<div data-controller="places" data-action="google-maps-loaded@window->places#initGoogle">
  <%= form_with(model: @place, id: "weather_form", local: true, data: { "places-target": "weather_form" }
) do |form| %>
    <div>
      <%= form.text_field :full_address, data: { "places-target": "full_address" }, class: "w-full" %>
      <%= form.hidden_field :latitude, data: { "places-target": "latitude" } %>
      <%= form.hidden_field :longitude, data: { "places-target": "longitude" } %>
      <%= form.hidden_field :city, data: { "places-target": "city" } %>
      <%= form.hidden_field :state, data: { "places-target": "state" } %>
      <%= form.hidden_field :zipcode, data: { "places-target": "zipcode" } %>
      <%= form.hidden_field :country, data: { "places-target": "country" } %>
    </div>
  <% end %>
  <div>
    <div data-places-target="address_error" hidden="hidden">
      Error interpreting selected address. Please again.
    </div>
    <div data-places-target="weather_data_pending" hidden="hidden">
      Retrieving weather data...
    </div>
    <div data-places-target="weather_data_error" <%= 'hidden="hidden"' unless @place.errors.any? %> >
      <% if @place.errors[:zipcode].present? %>
        Please try again with an address that has a zipcode.
      <% elsif @place.errors[:country].present? %>
        Please try again with an address that has a country.
      <% elsif @place.errors[:weather_data].present? %>
        Unable to retrieve weather data from OpenWeather. Please try again later.
      <% end%>
    </div>
    <div data-places-target="weather_data_present" <%= 'hidden="hidden"' unless @place.has_weather_data? %> >
      <div><%= @place.full_address %> at <%= @place.retrieved_at %> <%= @place.cached? ? "(Cached)" : "" %> </div>
      <div>
        <div><span>Current Temp:</span><span><%= @place.current_temp %></span></div>
        <div><span>Today's High:</span><span><%= @place.current_day_low %></span></div>
        <div><span>Today's Low:</span><span><%= @place.current_day_high %></span></div>
      </div>
      <div>
        <div>7-day Forecast</div>
        <% (1..7).each do |i| %>
          <div>
            <span><%= @place.day_label(i) %></span>
            <span>High</span><span><%= @place.day_high(i) %></span>
            <span>Low</span><span><%= @place.day_low(i) %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
